@charset "utf-8";
/* CSS Document */
*{
padding: 0px;
margin: 0px;
}

body{
	background-color:#fff;
	
font-family: "微軟正黑體", "蘋果儷中黑", "Lucida Grande", "Arial", "Arial Narrow";
font-size: 13px;
}



/*---主頁---*/
#main{


}
#web_name{
	float:left;
	font-size:14px;
	font-weight:bold;
	width:300px;
	}
#login{
	float:right;
	width:50px;
	height:20px;
	}
#copyright{
	font-size:10px;
	float:left;
	color:#666;
	
	width:280px;
	}	
#login_form{
	background-image:url(../img/LOGIN.jpg); 
	background-repeat:no-repeat;
	margin: 150px auto;height: 250px; width: 300px;
	padding-top:100px;
	padding-right:40px;
	padding-left:40px;
	padding-bottom:50px;
	text-align:left;
	color:#000;
	}
#login_form div { margin: 5px;}
#web_name{
	font-size:16px;
	font-weight:bold;
	}